/* 
---------------------------------------------
----------TRANSICIONES----------------------
--------------------------------------------
*/


.transicion-arriba{
    animation: ups 1.7s 1;
}

@keyframes ups {
    0%{margin-top: 120%;}
}
.transicion-arriba2{
    animation: ups2 1.7s 1;
}

@keyframes ups2 {
    0%{margin-top: -120%;}
}

.transicion-izquierda{
    animation: lefts 1.7s 1;
}

@keyframes lefts {
    0%{margin-left: -120%;}
}

.transicion-derecha{
    animation: derecha-mov 1.7s 1;
}

@keyframes derecha-mov {
    0%{margin-right: -120%;}
}

.transicion-abajo{
    animation: downs 1.7s 1;
}

@keyframes downs {
    0%{margin-bottom: -120%;}
}

@font-face {
    font-family: 'Aqua Grotesque';
    font-style: normal;
    font-weight: normal;
    src: url('aqua.ttf')format("TrueType");     
    }

body{
    font-family: 'Aqua Grotesque', "century gothic"; 
    
    
}


/* -------------------------------------------------------NAV-BAR------------------------------------------------------ */
#logo-nav {
    width: 100px;

}

#nav-bar{
    
    z-index: 11;
    position: absolute;
    top: 1;
    width: 100%;
    font-size: 130%;
}

.items-nav-bar .navbar-nav{
    width: 55%;
}

.items-nav-bar .navbar-nav .nav-link{
    color:#504F4F ;
    margin-right: 4%;
}

.items-nav-bar .navbar-nav #separate-item{
    width: 8%;
}

.items-nav-bar .navbar-nav .white{
    color: white;
}

.navbar-toggler{
    background-image: url('images/TOGGLE.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fb6d05;
}
/* --------------------------------------------------PORTADA--------------------------------------------------------------- */
.contenedor-portada{
    position: relative;
    width: 100%;
    height: 80vh;
}

.portada{
    overflow: hidden;
    z-index: 10;
    position: relative;
    height: 80vh;
    width: 100%;
}

.portada #portada-img{
    height: 85vh;
    width: 32%;
    position: absolute;
    right: 1px;
}

.portada #portada-img {
    height: 85vh;
}
 
.portada #portada-palabras-img{
    transition: transform .70s;
    position: absolute;
    width: 65%;
    bottom: 25%;
    left: 19.7%;
}

.portada #portada-palabras-img:hover{
    transform:perspective(10px) scale(1.2) ;
    }

.portada .portada-palabras{
    color:rgba(80, 79, 79, 0.6);
    font-size: 2.5vh;
    letter-spacing: 0.5em;
    position: absolute;
    bottom:15%;
    left: 19.7%;
}
/* ---------------------------------------------------------------SERVICIOS------------------------------------------------------------ */
.servicios-bar{
    margin-top: 4%;
}

.servicios-bar .nav-item .nav-link img{
    width: 60px;
}

.servicios-bar .nav-item{
    margin-right: 8%;
}

.servicios-bar .nav-item .nav-link{
    color: #707070;
    font-weight:lighter;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #fb6d00;
    color: white;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.0),
          0 0  0 2px #fb6d05,
          0.3em 0.3em 1em rgba(0,0,0,0.5);
} 


                 /*------- BOX OF SERVICE------- */
/* fotografia */
.box-service {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("images/color-solid.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    margin-bottom: 5%;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
          /* font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
          font-family: 'Aqua Grotesque', "century gothic"; 
}
.box-img-photo{
    position: absolute;
    left: 25%;
    top: 20%;
    width: 20%;
    height: 50vh;
    box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

.box-img-photo img{
    /* width: 100%;
    height: 100%; */
}

.box-service .box-text-photo {
    width: 50%;
    float: right;
    margin-top: 10%;
    margin-right: 2%;
}
.box-service .box-text-photo .box-service-title{
    color:#fb6d00;
    font-weight: bold;
    font-size: 4vh;
}

.box-service .box-text-photo .box-service-description{
    font-size: 2vh;
}


/* brandig */
.box-img-brand{
    position: absolute;
    left: 20%;
    top: 5%;
    width: 50%;
    height: 25vh;
    box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

.box-img-brand img{
    /* width: 100%;
    height: 100%; */
}

.box-service .box-text-brand{
    float: right;
    margin-top: 20%;
    margin-right: 30%;
}
.box-service .box-text-brand .box-service-title{
    width: 40%;
    color: #fb6d00;
    font-weight: bold;
    font-size: 3vh;
}

.box-service .box-text-brand .box-service-description{
    font-size: 2vh;
}

/* diseño */
.box-service-r{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("images/color-solid-r.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    overflow: hidden;
    margin-bottom: 5%;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
          /* font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
          font-family: 'Aqua Grotesque', "century gothic"; 
}

.box-img-design{
    position: absolute;
    right: 25%;
    top: 20%; 
    width: 20%;
    height: 50vh;
    box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
    overflow: hidden;

}

.box-img-design img,
.box-img-photo img,
.box-img-brand img,
.box-img-ws img
{
     width: 100%;
    height: 100%; 
}

.box-service-r .box-text-design{
    width: 50%;
    float: left;
    margin-top: 15%;
    margin-left: 10%;
}
.box-service-r .box-text-design .box-service-title{
    color: #fb6d00;
    font-weight: bold;
    font-size: 3vh;
}

.box-service-r .box-text-design .box-service-description{
    font-size: 2vh;
}

/* ws */
.box-img-ws{
    overflow: hidden;
    position: absolute;
    left: 30%;
    bottom: 5%;
    width: 50%;
    height: 25vh;
    box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);


}

.box-img-ws img{
    /* width: 100%;
    height: 100%; */
   
}

.box-service-r .box-text-ws{
    float: left;
    margin-top: 10%;
    margin-left: 10%;
}
.box-service-r .box-text-ws .box-service-title{
    color: #fb6d00;
    font-weight: bold;
    font-size: 3vh;
}

.box-service-r .box-text-ws .box-service-description{
    font-size: 2vh;
}

/* publi */
.box-service-t{
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #201F1F;
    background-image: url("images/color-solid-r.png");
    background-repeat:repeat;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 5%;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
          /* font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
          font-family: 'Aqua Grotesque', "century gothic"; 
}
.box-service-t .box-text-publi{
    color: white;
    float: left;
    margin-top: 5%;
    margin-left: 10%;
}
.box-service-t .box-text-publi .box-service-title{
    color: #fb6d00;
    font-weight: bold;
    font-size: 3vh;
}

.box-service-t .box-text-publi .box-service-description{
    font-size: 2vh;
}

.box-img-publi{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 80%;
    height: 50vh;
    box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
}


.box-img-publi iframe{
    width: 100%;
    height: 100%;
}


/* ------------------------------------------------------------EXHIBIDOR DE PROYECTOS---------------------------------------------------- */

.ex-proyects{
    
    background: url("images/Trazado\ 6.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
}

 .borde-estilo{
    position: absolute;
    top: 1px;
    width: 100%;
    background-image: url("images/motivo-naranja.png");
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
    height: 2vh;
}
.ex-proyects .panel-muestra{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    overflow: hidden;
}

.ex-proyects .panel-muestra .muestra-img{
    float: left;
    width: 50%;
    height: 50vh;
    
}

.ex-proyects .panel-muestra .muestra-img img{
    height: 100%;   
    width: 100%;
}

.ex-proyects .panel-muestra .muestra-datos{
    position: relative;
    padding-left: 8%;
    float: left;
    width: 50%;
    height: 50vh;
}

.ex-proyects .panel-muestra .muestra-datos .titulo{
    color:#AC6200;
    font-size: 5vh;
}

.ex-proyects .panel-muestra .muestra-datos .texto{
    padding-top: 4%;
    color:white;
    font-size: 2.2vh;
    
}

.ex-proyects .panel-muestra .muestra-datos .trabajos{
    position: absolute;
    bottom: 0%;
    width: 100%;
    color:white;
    font-size: 1.6vh;
}

.ex-proyects .panel-muestra .muestra-datos .trabajos .logos-works img{
    border-radius: 50%;
    background-color: white;
    margin-right: 6%;
    width: 6vh;
    font-size: 2vh;
}

.container-other-proyects{
    margin-top: 6%;
    margin-bottom: 3%;
    overflow: hidden;
}

#carouselExampleIndicators{
    padding-top: 5vh;
    height: 100%;
    width: 100%;
}


.next-works{
    height: 5vh;
    position: absolute;
    top: -13%;
    right: 30%;
}

.prev-works{
    height: 5vh;
    position: absolute;
    top: -13%;
    left: 30%;
}

.carousel-item {
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
}

.carousel-item .card{
    display: block;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.16);
    background-color:#201F1F;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10vh;
    margin-bottom: 2%;
    border-radius: 0;
    border-bottom: 3px solid #AC6200;
    transition: transform .50s;
}

.carousel-item .card:hover{
    transform:scale(1.2) ;
}

.carousel-item .card img{
    width: 100%;
    border-radius: 0;
}
.carousel-item .card .logos-works{
    position: absolute;
    top: -15%;
    padding: 2%;
}

.carousel-item .card .logos-works img{
    width:3vh;
}

.card-title{
    text-align: center;
    width: 100%;
    color:#AC6200;
    font-size: 2.5vh;
}

.card-sub{
    text-align: center;
    width: 100%;
    color:white;
    font-size: 1.7vh;
}

.nuestros-trabajos{
    float:left;
     width:30%;
     color: #D9D2D2;
      font-size: 3.5vh;
}

.borde-estilo-end{
    position: absolute;
    bottom: 1px;
    width: 100%;
    background-image: url("images/motivo-naranja.png");
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
    height: 2vh;
}

.container-other-proyects .border-trabajos{
    float: left;
    margin-top: 10px;
    width: 35%;
    height: 2vh;
    background-image: url("images/motivo-naranja.png");
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
}

/* -------------------------------------------------------------------------------------TEAM CARPET------------------------ */
.team-carpet #carouselExampleControlsNoTouching2{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.card-member{
    display: block;
    background-color: white;
    margin: 5%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);;
    overflow: hidden;
     width: 30%; 
    height: 15vh;   
    border-radius: 10px;
    transition: transform .50s;
}

.carousel-item .card-member:hover{
    transform:scale(1.2) ;
}

.card-member .img-member{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
    height: 100%;
    border-radius: 100%;
    width: 50%;
    float: left;
}

.card-member .img-member img{
    padding: 2%;
    height: 100%;
    width: 60%;
    border-radius: 50%;
}
.card-member .dates-member{
    margin-top: 5%;
    width: 50%;
    float: left;
}
.card-member .dates-member .name-member, .card-member .dates-member .ocupation-member{
    width: 100%;
}

.card-member .dates-member .name-member{
    font-weight: bold;
    font-size: 2.2vh;
}
.card-member .dates-member .ocupation-member{
    font-size: 2vh;
}

.team-carpet{
    background-image: url("images/Hermod\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.card-member .dates-member .social-links{
    padding-top: 4%;
}
.card-member .dates-member .social-links img{
    width: 3vh;
}

/* --------------------------------------------contact--------------------------------------------- */


.contact{
    overflow: hidden;
    position: relative;
    background-color:#201F1F;
    width: 100%;
    height: 55vh;
}

.contact .form-contact, .contact .dates-contact{
    padding-top: 4%;
    float: left;
    height: 100%;
}

.contact .form-contact{
    width: 50%;
}
.form-contact-title{
    width: 100%;
    font-size: 4vh;
    color: #AC6200;
}

.dates-contact{
    width: 30%;
    text-align: center;
}

#contact-dato{
    font-size:2.5vh ;
}

#contact-dato a{
    color: white;
    text-decoration: none;
}
#contact-title-dato{
    
    padding-top: 5% ;
    color: #9C9C9C;
    font-size: 3vh;
}

.hermod-logo-contact{
    padding-left: 4%;
    float: left;
    width: 20%;
    height: 40vh;
}
/* -------------------------vista mobile vertical--------------------- */

@media (max-width:450px)  {
    .portada #portada-img{
        display: none;
    }

    .portada #portada-palabras-img{
        width: 65%;
        bottom: 30%;
        left: 19.7%;
    }

    /* ----navbar------ */
    #logo-nav {
        width: 100px;
    }
    
    #nav-bar{
        background-color: rgba(251,147,0, 0.7);
        z-index: 11;
        position: absolute;
        top: 1;
        width: 100%;
        font-size: 100%;
    }

    .navbar-toggler{
        background-image: url('images/TOGGLE.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .items-nav-bar .navbar-nav{
        text-align: center;
        width: 100%;
    }
    
    .items-nav-bar .navbar-nav .nav-link,.items-nav-bar .navbar-nav .white{
        color:#504F4F ;
        margin-left: 2%;

    }
    
    .items-nav-bar .navbar-nav #separate-item{
        display: none;
        width: 0%;
    }


    /* -----servicios----- */
   
    
    .servicios-bar{
        margin-top: 4%;
    }
    
    .servicios-bar .nav-item .nav-link img{
        width: 30px;
    }
    
    .servicios-bar .nav-item{
        margin-right: 0%;
    }
    
    .servicios-bar .nav-item .nav-link{
        color: #707070;
        font-weight:lighter;
    }

    .service-name{
        font-size: 39%;
    } 
                    /*------- BOX OF SERVICE------- */
    .box-service ,.box-service-t {
        position: relative;
        width: 100%;
        height: 80vh;
        background-image: url("images/color-solid.png");
        background-repeat:repeat;
        background-size:auto;
        background-position:auto;
        overflow: hidden;
        margin-bottom: 5%;
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
              /* font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
              font-family: 'Aqua Grotesque', "century gothic"; 
    }


    .box-service-r{
        background-image: url("images/color-solid-r.png");
        background-repeat:repeat;
        background-size: auto;
        background-position: auto;
        overflow: hidden;
        margin-bottom: 5%;
        box-shadow:
        inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(255,255,255),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
              /* font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
              font-family: 'Aqua Grotesque', "century gothic"; 
    }

    .box-img-photo,
    .box-img-brand {
        position: absolute;
        left: 5%;
        top: 50%;
        width: 90%;
        height: 35vh;
        box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    
    }

    .box-img-design{
        position: absolute;
        bottom: 0%;
        right: 5%;
        top: 50%;
        width: 90%;
        height: 35vh;
        box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    .box-img-ws,
    .box-img-publi
     {
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        height: 35vh;
        box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    
    }

    .box-img-photo img,
    .box-img-brand img,
    .box-img-design img,
    .box-img-ws img,
    .box-img-publi iframe
    {
         width: 100%;
        height: 100%; 
    }
    
    .box-service .box-text-photo,
    .box-service .box-text-brand,
    .box-service-r .box-text-design,
    .box-service-r.box-text-ws,
    .box-service-t .box-text-publi
     {
        float: right;
        width: 100%;
        text-align: center;
        margin-top: 5%;
        margin-right: 0%;
        margin-left: 0%;
    }
    
    .box-service .box-text-photo .box-service-description,
    .box-service .box-text-brand .box-service-description,
    .box-service-r .box-text-design .box-service-description,
    .box-service-r .box-text-ws .box-service-description,
    .box-service-t .box-text-publi .box-service-description
    {
        font-size: 100%;
        color: white;
    }


    .box-service-r .box-text-ws{
        margin-top: 5%;
        margin-left: 0%;
        text-align: center;
    }
  
    .box-img-publi iframe{
        width: 100%;
        height: 100%;
    }
    

    /* proyectos */


  

    .ex-proyects .panel-muestra{
        padding-top: 10%;
        overflow: hidden;
    }
    
    .ex-proyects .panel-muestra .muestra-img{
        width: 100%;   
        margin-bottom: 10%;
    }
    
    .ex-proyects .panel-muestra .muestra-img img{
        height: 100%;   
        width: 100%;
    }
    
    .ex-proyects .panel-muestra .muestra-datos{
        position: relative;
        padding-left: 0%;
        text-align: center;
        width: 100%;
        height: 50vh;
    }
    
    
    .ex-proyects .panel-muestra .muestra-datos .trabajos{
        position: absolute;
        bottom: 0%;
        width: 100%;
        color:white;
        font-size: 2vh;
    }
    
    .ex-proyects .panel-muestra .muestra-datos .trabajos .logos-works img{
        border-radius: 50%;
        background-color: white;
        margin-right: 2%;
        width: 40px;
        font-size: 80%;
    }
    
    .container-other-proyects{
        margin-top: 6%;
        margin-bottom: 3%;
        overflow: hidden;
    }
    
    #carouselExampleIndicators{
        padding-top: 5vh;
        height: 100%;
        width: 100%;
    }
    
    .next-works{
        height: 5vh;
        position: absolute;
        top: -39px;
        right: 0%;
    }
    
    .prev-works{
        height: 5vh;
        position: absolute;
        top: -39px;
        left: 0%;
    }
    
    .carousel-item {
        padding-left: 5%;
        padding-right: 5%;
        overflow: hidden;
    }
    
    .carousel-item .card{
        display: block;
        box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.16);
        background-color:#201F1F;
        float: left;
        margin-top: 15%;
        border-radius: 0;
        border-bottom: 3px solid #AC6200;
        transition: transform .50s;
    }
    
    .carousel-item .card:hover{
        transform:scale(1.2) ;
    }
    
    .carousel-item .card img{
        border-radius: 0;
    }
    .carousel-item .card .logos-works{
        position: absolute;
        top: -15%;
        padding: 2%;
    }
    
    .carousel-item .card .logos-works img{
        width:30px;
    }
    
    .card-title{
        text-align: center;
        width: 100%;
        color:#AC6200;
        font-size: 120%;
    }
    
    .card-sub{
        text-align: center;
        width: 100%;
        color:white;
        font-size: 100%;
    }
    
    .nuestros-trabajos{
        text-align: center;
        float:left;
         width:100%;
         color: #D9D2D2; font-size: 150%;
    }
    
    .container-other-proyects .border-trabajos{
        display: none;
        /* float: left;
        margin-top: 10px;
        width: 20%;
        height: 2vh;
        background-image: url("images/motivo-naranja.png");
        background-repeat: repeat;
        background-position: top;
        background-size: contain; */
    }
    


    /* ------------member------ */
    .card-member{
         width: 100%; 
        
    }

    /* .card-member .dates-member{
        margin-top: 5%;
        width: 50%;
        float: left;
    } */

    .card-member .dates-member .name-member, .card-member .dates-member .ocupation-member{
        width: 100%;
    }
    
    .card-member .dates-member .name-member{
        font-size: 80%;
    }
    .card-member .dates-member .ocupation-member{
        font-size: 60%;
    }

    

    .contact{
        overflow: hidden;
        position: relative;
        background-color:#201F1F;
        width: 100%;
        height: 150vh;
    }

    .contact .form-contact, .contact .dates-contact{
        padding-top: 15%;
        float: left; 
        height: 100%;
    }

    .contact .form-contact{
        width: 100%; 
    }
    .form-contact-title{
        width: 100%;
        font-size: 120%;
        color: #AC6200;
    }

    .dates-contact{
        width: 100%; 
        text-align: center;
    }

    #contact-dato{
        font-size:100% ;
    }

    #contact-dato a{
        color: white;
        text-decoration: none;
    }
    #contact-title-dato{
        
        padding-top: 5% ;
        color: #9C9C9C;
        font-size: 120%;
    }

    .hermod-logo-contact{
        padding-left: 4%;
        float: left;
        width: 20%;
        height: 40vh;
    }
    
}




/*------------------------mobile horizontal-------*/


@media (min-width:451px) and (max-width:768px){
    
    .servicios-bar .nav-item .nav-link{
        
        color: #707070;
        font-weight:lighter;
        font-size: 1.7vh; 
    }

    .servicios-bar .nav-item .nav-link img{
        width: 10vh;
    }

                     /*------- BOX OF SERVICE------- */
    .box-service ,.box-service-t {
        position: relative;
        width: 100%;
        height: 120vh;
        background-image: url("images/color-solid.png");
        background-size:350%;
        background-position:auto;
        background-repeat:repeat;
        overflow: hidden;
        margin-bottom: 5%;

    }


    .box-service-r{
        background-image: url("images/color-solid-r.png");
        background-size:350%;
        overflow: hidden;
        margin-bottom: 5%;
        height: 120vh;
 
    }

    .box-img-photo,
    .box-img-brand {
        position: absolute;
        left: 5%;
        top: 50%;
        width: 90%;
        height: 50vh;
        box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    
    }

    .box-img-design{
        position: absolute;
        bottom: 0%;
        right: 5%;
        top: 50%;
        width: 90%;
        height: 50vh;
        overflow: hidden;
    }

    .box-img-ws,
    .box-img-publi
     {
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        height: 50vh;
        overflow: hidden;
    
    }

    .box-img-photo img,
    .box-img-brand img,
    .box-img-design img,
    .box-img-ws img,
    .box-img-publi iframe
    {
         width: 100%;
        height: 100%; 
    }
    
    .box-service .box-text-photo,
    .box-service .box-text-brand,
    .box-service-r .box-text-design,
    .box-service-r .box-text-ws,
    .box-service-t .box-text-publi
     {
        float: right;
        width: 100%;
        text-align: center;
        margin-top: 5%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .box-service .box-text-ws .box-service-title,
    .box-service .box-text-brand .box-service-title{
        width: 100%;
        text-align: center;
    }
    
    .box-service .box-text-photo .box-service-description,
    .box-service .box-text-brand .box-service-description,
    .box-service-r .box-text-design .box-service-description,
    .box-service-r .box-text-ws .box-service-description,
    .box-service-t .box-text-publi .box-service-description
    {   text-align: center;
        font-size: 100%;
        color: white;
    }


    .box-service-r .box-text-ws{
        margin-top: 5%;
        margin-left: 0%;
        text-align: center;
    }
  
    .box-img-publi iframe{
        width: 100%;
        height: 100%;
    }


    /*---------ex-servicios-------*/
    .ex-proyects .panel-muestra .muestra-datos .trabajos .logos-works img{
        width: 10%;
    }
    .container-other-proyects{
        overflow: visible;
    }
    .nuestros-trabajos {
        text-align: center;
        float: left;
        width: 30%;
        color: #D9D2D2;
        font-size: 3.5vh;
    }
    
    .next-works{
        height: 5vh;
        position: absolute;
        top: -3.5%;
        right: 30%;
    }
    
    .prev-works{
        height: 5vh;
        position: absolute;
        top: -3.5%;
        left: 30%;
    }
    
    

    .contact{
        height: 90vh;
    }
}


@media (min-width:768px) and (max-width:1024px){
    .servicios-bar .nav-item .nav-link{
        
        color: #707070;
        font-weight:lighter;
        font-size: 1vh; 
    }

    .servicios-bar .nav-item .nav-link img{
        width: 5vh;
    }

                     /*------- BOX OF SERVICE------- */
    .box-service ,.box-service-t {
        position: relative;
        width: 100%;
        height: 80vh;
        background-image: url("images/color-solid.png");
        background-size:350%;
        background-position:auto;
        background-repeat:repeat;
        overflow: hidden;
        margin-bottom: 5%;

    }


    .box-service-r{
        background-image: url("images/color-solid-r.png");
        background-size:350%;
        overflow: hidden;
        margin-bottom: 5%;
        height: 80vh;
 
    }

    .box-img-photo,
    .box-img-brand {
        position: absolute;
        left: 5%;
        top: 50%;
        width: 90%;
        height: 50vh;
        box-shadow:10px 12px 12px 11px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    
    }

    .box-img-design{
        position: absolute;
        bottom: 0%;
        right: 5%;
        top: 50%;
        width: 90%;
        height: 50vh;
        overflow: hidden;
    }

    .box-img-ws,
    .box-img-publi
     {
        position: absolute;
        left: 5%;
        bottom: 5%;
        width: 90%;
        height: 50vh;
        overflow: hidden;
    
    }

    .box-img-photo img,
    .box-img-brand img,
    .box-img-design img,
    .box-img-ws img,
    .box-img-publi iframe
    {
         width: 100%;
        height: 100%; 
    }
    
    .box-service .box-text-photo,
    .box-service .box-text-brand,
    .box-service-r .box-text-design,
    .box-service-r .box-text-ws,
    .box-service-t .box-text-publi
     {
        float: right;
        width: 100%;
        text-align: center;
        margin-top: 5%;
        margin-right: 0%;
        margin-left: 0%;
    }

    .box-service .box-text-ws .box-service-title,
    .box-service .box-text-brand .box-service-title{
        width: 100%;
        text-align: center;
    }
    
    .box-service .box-text-photo .box-service-description,
    .box-service .box-text-brand .box-service-description,
    .box-service-r .box-text-design .box-service-description,
    .box-service-r .box-text-ws .box-service-description,
    .box-service-t .box-text-publi .box-service-description
    {   text-align: center;
        font-size: 100%;
        color: white;
    }


    .box-service-r .box-text-ws{
        margin-top: 5%;
        margin-left: 0%;
        text-align: center;
    }
  
    .box-img-publi iframe{
        width: 100%;
        height: 100%;
    }


    /*---------ex-servicios-------*/
    .ex-proyects .panel-muestra .muestra-datos .trabajos .logos-works img{
        width: 10%;
    }
    .container-other-proyects{
        overflow: visible;
    }

    .ex-proyects .panel-muestra .muestra-datos .titulo {
        font-size: 4vh;
    }

    .ex-proyects .panel-muestra .muestra-datos .texto{
        font-size: 2vh;
    }

    .nuestros-trabajos {
        text-align: center;
        float: left;
        width: 30%;
        color: #D9D2D2;
        font-size: 3.5vh;
    }
    
    .next-works{
        height: 5vh;
        position: absolute;
        top: -3.5%;
        right: 30%;
    }
    
    .prev-works{
        height: 5vh;
        position: absolute;
        top: -3.5%;
        left: 30%;
    }

    /* ------------------------------team carpet.-------------------------- */

    .team-carpet #carouselExampleControlsNoTouching2{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
    }
    
    .card-member{
        display: block;
        background-color: white;
        margin: 5%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.16);;
        overflow: hidden;
         width: 40%; 
        height: 10vh;   
        border-radius: 10px;
        transition: transform .50s;
    }
    
    .carousel-item .card-member:hover{
        transform:scale(1.2) ;
    }
    
    .card-member .img-member{
        padding-left: 10%;
        padding-top: 6%;
        padding-bottom: 6%;
        height: 100%;
        border-radius: 100%;
        width: 50%;
        float: left;
    }
    
    .card-member .img-member img{
        padding: 2%;
        height: 100%;
        width: 83%;
        border-radius: 50%;
    }


    .card-member .dates-member .name-member, .card-member .dates-member .ocupation-member{
        width: 100%;
    }
    
    .card-member .dates-member .name-member{
        font-weight: bold;
        font-size: 1vh;
    }
    .card-member .dates-member .ocupation-member{
        font-size: 1vh;
    }
    

  



    /* -----------------------------------contacto--------------------------------------------- */
    
    

    .contact{
        height: 110vh;
    }



    .contact .form-contact, .contact .dates-contact{
        padding-top: 15%;
        float: left; 
        height: 100%;
    }

    .contact .form-contact{
        width: 100%; 
    }


    .dates-contact{
        width: 100%; 
        text-align: center;
    }



   

}